#carousel-example {
  width: 100%;
  max-width: 50rem;
  height: 30rem;
  margin: 5rem auto 2rem auto;
}

#carousel-example img {
  height: 30rem;
  object-fit: cover;
}

#newsletter-signup {
  max-width: 30rem;
  margin: 4rem auto;
}

#sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
